{{ define "main" }}

<div class="jumbotron bg-transparent mb-0 pt-3 radius-0">
    <div class="container">
        
        <div class="row"> 
            <div class="col-xl-12">
                <h1 class="display-1 bold color_white content__title text-center"><span class="color_danger">{{ .Title }}</span></h1>
                <div class="cut">
                </div>
                <p class="text-spacey text-center hackerFont lead" style="color:gray"> {{ .Params.name }} - {{ .Params.category }} ({{ .Params.points }} pts).<br />Written by {{ .Params.author}}.</p>
                <div class="chall">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
{{ end }}