<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <!-- HEAD-->
    {{- partial "head.html" . -}}

    <!--BODY-->
    <body class="imgloaded">
        <!--PRELOADER-->
        <div id="preloader">
        </div>
    
        <!--HEADER-->
        {{- partial "header.html" . -}}
    
        <div id="main">
            <div class="landing">
                <div class="jumbotron bg-transparent mb-0 pt-3 radius-0">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col align-self-center glitch">
                                <img  src="logo/logofinal.png">
                                <img class="img-top" src="logo/logoFinal.gif">
                            </div>
                            <div class="col-9 align-self-center limit">
                                <h1 class="display-1 bold color_white content__title">FRENCH CTF TEAM<span class="vim-caret">&nbsp;</span></h1>
                                <h1 class="display-1 bold color_white content__title2">SINCE 2018</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="js/preloader.js"></script>
    </body>
</html>